<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
        <h2>Vamos a agregar Chef</h2>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                <label for="">Nombre</label>
                <input [(ngModel)]="chef.name" name="name" type="text" class="form-control">
     
                </div>
                <div class="form-group">
                    <label for="">Nacionalidad</label>
                    <input [(ngModel)]="chef.nationality" name="nationality" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Fecha de Nacimiento</label>
                        <input [(ngModel)]="chef.birthYear" name="birthYear" type="text" class="form-control">
                        </div>  
                        <div class="form-group">
                            <label for="">Tipo de Cocina</label>
                            <input [(ngModel)]="chef.cuisine" name="cuisine" type="text" class="form-control">
                            </div>  
                            <button (click)="Guardar()"  class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>